@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white-clr: white;
  --black-clr: black;
  --light-black: #333;
  --primary-clr: #e6303d;
  --tag-clr: #7cc576;
  --secondary-clr: #eee;

}

li {
  list-style: none;

}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 85%;
  margin: auto;
}


a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-clr);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--light-black);
}

header {
  background: var(--white-clr);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0px 5px 14px .75px rgba(36, 11, 12, .05);
}

.navbar {
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navlist {
  gap: 2.5rem;

}

.link {
  font-size: 1 rem;
  color: var(--light-black);
  text-transform: uppercase;
  font-weight: 500;
  justify-content: space-between;
}

span,
.link-active {
  color: var(--primary-clr);
}

.icon {
  font-size: .9 rem;
  color: var(--light-black);
  background-color: var(--secondary-clr);
  height: 70px;
  width: 70px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.icon:hover {
  background: var(--secondary-clr);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform .3s ease-in-out;
}

.hamburger {
  font-size: 1.5rem;
  color: #e6303d;
  display: none;
}

.hero {
  height: 115vh;
  background-image: url("/hero-image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4.5rem;

}
  
.hero-content {
  height: 100%;
  justify-content: flex-end;


}

.content {
  margin-left: 100vh;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.7rem;

}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--light-black);
}

h4 {
  font-size: 1.4rem;
  line-height: 3.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
button{
padding:.8rem 1rem;
  font-size: .9rem;
  font-weight: 600;
  border-radius: 5;
  text-transform: uppercase;
  color: var(--white-clr);
  border: none;
  background: var(--primary-clr);
  transition: all .3 ease-in-out;
}

button:hover {
  background-color: var(--light-black);
  cursor: pointer;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.7rem;
  margin-top: 50px;
}

.category:nth-child(1),
.category:nth-child(4) {
  grid-row: 1 /3;

}

.category:nth-child(2) {
  grid-row: 1 / 2;

}

.category {
  position: relative;
  overflow: hidden;

}

.category button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  background: var(--white-clr);
  color: var(--black-clr);
  z-index: 3;
}

.category button:hover {
  background-color: #e6303d;
  color: var(--white-clr);

}

.category:hover img {
  transform: scale(1.1);
}

.category::before {
  content: '';
  position: absolute;
  background: var(--white-clr);
  height: 100%;
  width: 0;
  opacity: .2;
  z-index: 2;
  transition: all .3s ease-in-out;
}

.category:hover::before {
  width: 100%;
}

h2 {
  font-size: 2rem;
  line-height: 4rem;
  color: var(--light-black);
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
.line{
  background-color: var(--primary-clr);
  width: 60px;
  height: 2.5px;
  margin: auto;
}
.card-container{
  justify-content: center;
  margin-top: 3rem;
  text-align: center;


}
.card{
  border-right: 1px solid #efefef;
flex:1;
padding-block: 3.5rem;
margin-bottom: 2rem;
transition: all  0.3s ease-in-out;
position: relative;
}
.card:hover{
box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, .15);
z-index: 3;
}
.card-content{
  padding: 0 3rem;

}
.title{
  font-size: 1rem;
  color: var(--light-black);
  line-height: 1.7rem;
  font-weight: 500;

}
.price{
  margin-top:1rem
}
del{
  color:#c5c5c5;
}
.amount{
  font-size: 1.1rem;
  font-weight: 600;
}
.Add-to-cart{
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all .3s ease-in-out;
}
.card:hover .Add-to-cart{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}
.wrap{
  flex-wrap: wrap;
}
.secondary-bg{
  background: var(--secondary-clr);
  padding-block: 2.2rem;
}
.sale-container{
  padding-block: 5rem;
  text-align: center;
  background-image: url("/sale-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.sale-container h3{
  font-weight: 200;
  font-size: 1.56rem;
  line-height:1.6rem ;
  text-transform: uppercase;

}
.sale-container h1{
 font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.7rem;

}
.sale-container .line{
  width: 15%;
  background:#c5c5c5 ;

}

.sale-container h4{
  font-size: 1.2rem;
  color: #6e6e6e;
  line-height: 3.5;

}
.box{
  flex: 1;
  text-align:center;
  margin-block:1rem ;
}
.box a{
  color: #e6303d;
font-size: 1rem;
}
.box p{
  color: #6e6e6e;
  font-size: .8rem;
}
.box .fa-solid{
  font-size: 1.5rem;
  color: var(--primary-clr);

  
}
h5 a{
  font-size: 1.1rem;
  color: var(--light-black);
  font-weight: 500;
  line-height: 2rem;
}
#email{
  font-size: 15px;
  margin-left: 40px;
  margin-right: 10px;
  padding: 5px;
  border: none;
  box-shadow:2px;
  color: #333;
  border-radius: 5px;
  width: 300px;
  
}
.sub{
  font-size: 10px;
  border-radius: 10px;
  margin-left: 20px;
 
}


